<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="creator; else notShow">
    <div style="text-align:center">
    <h1>
      Infrastructure Account
    </h1>
  </div>

 <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Account1:</label>
      <input class="form-control" formControlName="account1">
    <label>Account2:</label>
          <input class="form-control" formControlName="account2">
    <label>Amount:</label>
          <input class="form-control" formControlName="amount">
    <button type="submit">Submit</button>
  </div>
  </form>

  <router-outlet></router-outlet>
</div>

<ng-template #notShow>
  <div style="text-align:center">
  <h1>
    Coop Account
  </h1>
</div>
<h2>Balance: <span>{{balance}}</span></h2>
<router-outlet></router-outlet>
</ng-template>
